<aside class="sidebar">
    <div class="logo">
        <img src="/icons/meow_white.png" alt="Logo">
        <h2>Animal Bite Clinic</h2>
    </div>
    <ul class="menu">
        <li class="active" onclick="loadPage('/pages/dashboard.html', this)">
            <img src="/icons/dash-icons/1.png" alt=""> Dashboard
        </li>
        <li onclick="loadPage('/pages/animal_bite_record.html', this)">
            <img src="/icons/dash-icons/2.png" alt=""> Animal Bite Record
        </li>
        <li onclick="loadPage('/pages/register.html', this)">
            <img src="/icons/dash-icons/3.png" alt=""> Register Patient
        </li>
        <li onclick="loadPage('/pages/wristbands.html', this)">
            <img src="/icons/dash-icons/4.png" alt=""> Wristbands
        </li>
        <li onclick="loadPage('/pages/checkins.html', this)">
            <img src="/icons/dash-icons/5.png" alt=""> Check-ins
        </li>
        <li onclick="loadPage('/pages/billing.html', this)">
            <img src="/icons/dash-icons/6.png" alt=""> Billing/Payment
        </li>
        <li onclick="loadPage('/pages/sms.html', this)">
            <img src="/icons/dash-icons/7.png" alt=""> SMS Notifications
        </li>
        <li onclick="loadPage('/pages/report.html', this)">
            <img src="/icons/dash-icons/8.png" alt=""> Report & Analysis
        </li>
        <li onclick="loadPage('/pages/emergency.html', this)">
            <img src="/icons/dash-icons/9.png" alt=""> Emergency Protocols
        </li>
        <li onclick="logout()">
            <img src="/icons/dash-icons/master.png" alt=""> Logout
        </li>
    </ul>
</aside>
